.info__course-button {
  font-weight: bold;
  color: #956cee;
  font-size: 14px;
  background-color: rgba(249, 244, 255, 1);
  border-radius: 8px;
  padding: 8px 16px;
  border: 1px solid;
  width: 118px;
  height: 40px;
  box-sizing: content-box;
  margin-right: 16px;
  cursor: pointer;
}

@media (max-width: 1290px) {
  .info__course-button {
    display: none;
  }
}