.list__panel-icon {
  margin-right: 24px;
  border-radius: 24px;
  width: 20px;
  height: 20px;
  padding: 4px;
  overflow: visible;
}

@media (max-width: 992px) {
  .list__panel-icon {
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 768px) {
  .list__panel-icon {
    margin-right: 16px;
  }
}